<div class="container-fluid">
	<header class="l-header">
		<div class="container">
			<div class="row clearfix">
				<div class="col-sm-4 l-header-log">
					<a ui-sref="home">
						<img src="src/app/home/abc.png" />
					</a>
				</div>
				<div class="col-sm-8"></div>
				<div class="col-sm-9">
					<ul class="l-header-nav">
						<li class="nav-item">
							<a class="nav-title" ui-sref="home">首页</a>
						</li>
						<li class="nav-item">
							<a class="nav-title">产品研发<span class="caret"></span></a>
							<ul class="nav-sec-list">
								<li class="sec-item">
									<a class="sec-title">物联平台<span class="caret"></span></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">平台特性</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">平台架构</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">基础模型</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">场景模型</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">实时监控</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">故障告警</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">历史数据</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">数据分析<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">分析模型</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">分析应用</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">业务运营<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">业务模型</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">业务应用</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">权限管理<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">信息安全<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">移动应用<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">硬件模块<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">系统集成<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-title">解决方案<span class="caret"></span></a>
							<ul class="nav-sec-list">
								<li class="sec-item">
									<a class="sec-title">工业制造<span class="caret"></span></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">物联平台</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">数据分析</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">业务运营</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">视频监控</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">SECS/GEM</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">建筑家居<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">物联平台</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">数据分析</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">业务运营</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">视频监控</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">能源电力<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">物联平台</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">数据分析</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">业务运营</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">视频监控</a>
										</li>
									</ul>
								</li>
								<li class="sec-item">
									<a class="sec-title">农林渔牧<span class="caret"></a>
									<ul class="nav-third-list">
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">概览</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">物联平台</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">数据分析</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">业务运营</a>
										</li>
										<li class="nav-third-item">
											<a class="nav-third-title" ui-sref="demo">视频监控</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						
						<li class="nav-item">
							<a class="nav-title" ui-sref="home">我的空间</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-title">关于我们<span class="caret"></span></a>
							<ul class="nav-sec-list">
								<li class="sec-item">
									<a class="sec-title">关于我们</span></a>
								</li>
								<li class="sec-item">
									<a class="sec-title">联系我们</a>
								</li>
								<li class="sec-item">
									<a class="sec-title">资质证书</a>
								</li>
								<li class="sec-item">
									<a class="sec-title">合作方式</a>
								</li>
							</ul>
						</li>
					</ul>


				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</header>
	<section>
		<div class="container">
			<section class="main" ui-view="">
			</section>
		</div>
	</section>
</div>

<!--<div class="wrapper">
    <header class="header">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-6">123</div>
    			<div class="col-sm-6">456</div>
    		</div>
    	</div>
        <ul class="navigation">
            <li><a ui-sref="home">主页</a></li>
            <li><a ui-sref="demo">常用指令demo使用</a></li>
        </ul>
    </header>
    <section class="main" ui-view="">
    </section>
    <footer class="footer">copyright© silence</footer>
</div>-->