.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    clear: both; }

.container-fluid {
  padding: 0; }

.l-header {
  background-color: #4291D7; }
  .l-header .l-header-log a {
    display: inline-block; }
  .l-header .l-header-nav {
    white-space: nowrap; }
    .l-header .l-header-nav .nav-item {
      display: inline-block;
      height: 45px;
      line-height: 45px;
      position: relative; }
      .l-header .l-header-nav .nav-item:hover, .l-header .l-header-nav .nav-item li:hover {
        background-color: #4d9de4; }
      .l-header .l-header-nav .nav-item:hover .nav-sec-list {
        display: block; }
      .l-header .l-header-nav .nav-item .nav-title {
        display: block;
        height: 100%;
        color: white;
        padding: 0 20px;
        font-size: 14px; }
        .l-header .l-header-nav .nav-item .nav-title .caret {
          position: absolute;
          right: 5px;
          top: 20px; }
      .l-header .l-header-nav .nav-item .nav-sec-list {
        min-width: 120px;
        display: none;
        background-color: #4291D7;
        position: absolute;
        top: 45px;
        left: 0; }
        .l-header .l-header-nav .nav-item .nav-sec-list .sec-item {
          position: relative; }
          .l-header .l-header-nav .nav-item .nav-sec-list .sec-item:hover .nav-third-list {
            display: block; }
          .l-header .l-header-nav .nav-item .nav-sec-list .sec-item .sec-title {
            padding: 0 20px;
            display: block;
            height: 100%;
            color: white; }
          .l-header .l-header-nav .nav-item .nav-sec-list .sec-item .caret {
            position: absolute;
            top: 18px;
            right: 6px;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px dashed; }
          .l-header .l-header-nav .nav-item .nav-sec-list .sec-item .nav-third-list {
            min-width: 120px;
            display: none;
            position: absolute;
            background-color: #4291D7;
            top: 0;
            left: 100%; }
            .l-header .l-header-nav .nav-item .nav-sec-list .sec-item .nav-third-list .nav-third-item {
              position: relative;
              padding: 0 20px; }
              .l-header .l-header-nav .nav-item .nav-sec-list .sec-item .nav-third-list .nav-third-item .nav-third-title {
                color: white; }
